@import "reset.css";
body {
  overflow-x: hidden;
  position: relative;
}

.cursor {
  position: absolute;
  pointer-events: none;
  z-index: 20;
}

.side_menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  color: #ff4713;
  background: #fff;
  z-index: 10;
  overflow: auto;
  transition: 0.3s;
}
.side_menu.active {
  right: 0;
}
.side_menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px 0;
  float: right;
  width: 100%;
  height: auto;
  padding: 20px 40px;
}
.side_menu .menu .btn_close {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  transform: translateX(20px);
  background: url(../images/brand/X@2x.png) no-repeat center/cover;
  cursor: pointer;
}
.side_menu .menu dl {
  width: 100%;
  height: 30px;
  font-weight: 600;
  overflow: hidden;
}
.side_menu .menu dl.active {
  height: auto;
}
.side_menu .menu dl dt {
  font-size: 1.425em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  position: relative;
}
.side_menu .menu dl dt:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  background: url(../images/brand/arrow-down.png) no-repeat center/cover;
  transform: translateY(-50%);
}
.side_menu .menu dl.active dt:after {
  transform: translateY(-50%) rotateX(180deg);
}
.side_menu .menu dl dd {
  padding: 10px 0 10px 10px;
  font-size: 0.85em;
}
.side_menu .menu dl a {
  display: block;
}
.side_menu .menu .sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  margin-top: 30px;
}
.side_menu .menu .sns a {
  display: block;
  width: 30px;
  height: 30px;
}
.side_menu .menu .sns a:nth-child(1) {
  background: url(../images/brand/h-link1.svg) no-repeat center/cover;
}
.side_menu .menu .sns a:nth-child(2) {
  background: url(../images/brand/h-link2.svg) no-repeat center/cover;
}
.side_menu .menu .sns a:nth-child(3) {
  background: url(../images/brand/h-link3.svg) no-repeat center/cover;
}
.side_menu .menu .found {
  padding: 10px 30px;
  color: #fff;
  background: #ff4713;
  border-radius: 20px;
  margin-top: 30px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  transform: translateY(-100px);
  transition: 0.3s;
  z-index: 30;
}
header.show {
  transform: translateY(0);
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100px;
  position: relative;
}
header .container .h_logo {
  display: block;
  width: 160px;
}
header .container .h_logo img {
  width: 100%;
}
header .container .h_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff4713;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: -1px;
  width: 50%;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
header .container .h_menu li {
  flex: 1;
  height: 100%;
  padding: 30px 0;
}
header .container .h_menu li a {
  display: block;
  padding: 10px 0;
}
header .container .h_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
header .container .h_link .found {
  color: #fff;
  background: #ff4713;
  letter-spacing: -1px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: 0.3s;
}
header .container .h_link .found.convert {
  background: #fff;
  color: #ff4713;
  border: 1px solid #ff4713;
}
header .container .h_link .sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
header .container .h_link .sns a {
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .container .h_link .sns li:nth-child(1) a {
  background-image: url(../images/brand/h-link1.svg);
}
header .container .h_link .sns li:nth-child(2) a {
  background-image: url(../images/brand/h-link2.svg);
}
header .container .h_link .sns li:nth-child(3) a {
  background-image: url(../images/brand/h-link3.svg);
}
header .container .btn_side {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
  border-top: 4px solid #ff4713;
  border-bottom: 4px solid #ff4713;
  cursor: pointer;
}
header .container .btn_side:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background: #ff4713;
}
header .depth2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background: #fff;
  z-index: -1;
  transform: translateY(-400px);
  transition: 0.4s linear;
}
header .depth2.show {
  transform: translateY(0);
}
header .depth2 .nav_wrap {
  position: relative;
  height: 100%;
}
header .depth2 .nav_wrap .wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 47%;
  width: 50%;
  height: auto;
  transform: translate(-50%, 0);
}
header .depth2 .nav_wrap .wrap ul {
  flex: 1;
  font-weight: 600;
  color: #ff4713;
}
header .depth2 .nav_wrap .wrap ul li {
  padding: 20px 0;
}
header .depth2 .nav_wrap .wrap ul li a {
  display: block;
}

.sec1 {
  overflow: hidden;
  position: relative;
}
.sec1 .slide_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500%;
  height: calc(100vh - 100px);
}
.sec1 .slide_wrap li {
  flex: 1;
  height: 100%;
}
.sec1 .slide_wrap li a {
  display: block;
  height: 100%;
}
.sec1 .slide_wrap li a img {
  width: 100%;
  height: 100%;
}
.sec1 .slide_wrap li a img:nth-child(2) {
  display: none;
}
.sec1 .deco_scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
}
.sec1 .deco_scroll .mouse {
  width: 25px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin: 0 auto 10px;
  position: relative;
}
.sec1 .deco_scroll .mouse:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  width: 2px;
  height: 8px;
  background: #fff;
  transform: translateX(-50%);
}
.sec1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #fff;
  transform: translateX(-50%);
}

.sec2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.sec2 > div {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}
.sec2 .deco_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
}
.sec2 .deco_wrap .deco {
  display: none;
  width: 340px;
}
.sec2 .deco_wrap .deco.active {
  display: block;
}
.sec2 .deco_wrap .deco img {
  width: 100%;
}
.sec2 .left {
  position: relative;
}
.sec2 .left .content {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.sec2 .left .content h1 {
  font-size: 3em;
}
.sec2 .left .content .btn_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sec2 .left .content .btn_wrap button {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}
.sec2 .left .content .btn_wrap button:after {
  display: none;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}
.sec2 .left .content .btn_wrap button.active:after {
  display: block;
}
.sec2 .left .sec2_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sec2 .left .sec2_menu.active {
  transform: translateX(100%);
  z-index: 0;
  -webkit-animation: slideIn 0.6s ease-in forwards;
          animation: slideIn 0.6s ease-in forwards;
}
.sec2 .left .sec2_menu.active img {
  transform: scale(1.1);
}
@-webkit-keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
.sec2 .left .sec2_menu img {
  width: 100%;
  height: 85%;
  transition: 0.2s 0.6s ease;
}
.sec2 .right {
  position: relative;
}
.sec2 .right > div {
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 50px 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #ff4713;
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
}
.sec2 .right > div.active {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
.sec2 .right > div h2 {
  font-size: 2.25em;
  margin-bottom: 30px;
}
.sec2 .right > div p {
  font-size: 1.1em;
  font-weight: 600;
}
.sec2 .right > div > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 0 0 auto;
  padding: 100px 0;
}
.sec2 .right > div > ul li {
  flex: 1;
}
.sec2 .right > div > ul li a {
  display: block;
}
.sec2 .right > div > ul li a img {
  width: 100%;
}
.sec2 .right > div .recommand h3 {
  position: relative;
  padding-bottom: 10px;
}
.sec2 .right > div .recommand h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ff4713;
}
.sec2 .right > div .recommand ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 20px;
}
.sec2 .right > div .recommand ul li .img_wrap {
  width: 70px;
  height: 70px;
  margin: 20px auto;
}
.sec2 .right > div .recommand ul li .img_wrap img {
  width: 100%;
}
.sec2 .right > div .recommand ul li .text_wrap {
  font-size: 0.8em;
  letter-spacing: -1px;
}

.sec3 .top {
  padding: 100px 0;
  text-align: center;
}
.sec3 .bg img {
  width: 100%;
}
.sec3 .text_wrap {
  border-bottom: 1px solid #ff4713;
  padding: 30px 0;
}
.sec3 .text_wrap .text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0 20px;
}
.sec3 .text_wrap .text span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  color: #ff4713;
  font-size: 2em;
}

@media screen and (max-width: 1200px) {
  .sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec2 > div {
    flex: auto;
    width: 100%;
  }
  .sec2 .deco_wrap {
    display: none;
  }
  .sec2 .left {
    position: relative;
  }
  .sec2 .left .content h1 {
    font-size: 4em;
    text-align: center;
  }
  .sec2 .left .content .btn_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
  }
  .sec2 .right > div {
    padding: 0 50px;
  }
  .sec2 .right > div h2 {
    margin-bottom: 20px;
    letter-spacing: -2px;
  }
  .sec2 .right > div p {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -1px;
  }
  .sec2 .right > div > ul {
    width: 100%;
    margin: auto;
    padding: 50px 0;
  }
  .sec2 .right > div .recommand ul {
    gap: 0 20px;
    flex-wrap: wrap;
  }
  .sec2 .right > div .recommand ul li .img_wrap {
    width: 55px;
    height: 55px;
    margin: 20px auto 10px;
  }
}
@media screen and (max-width: 1024px) {
  header .container .h_menu {
    display: none;
  }
  header .container .h_link {
    display: none;
  }
  header .container .btn_side {
    display: block;
  }
  header .depth2 {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cursor {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  header .container {
    height: 55px;
  }
  header .container .h_logo {
    width: 80px;
  }
  header .container .btn_side {
    width: 30px;
    height: 25px;
  }
  .sec1 .slide_wrap {
    height: calc(100vh - 55px);
  }
  .sec1 .slide_wrap li a img:nth-child(1) {
    display: none;
  }
  .sec1 .slide_wrap li a img:nth-child(2) {
    display: block;
  }
  .sec1 .deco_scroll {
    display: none;
  }
  .sec1:after {
    display: none;
  }
  .sec2 > div {
    height: 80vh;
  }
  .sec2 .left .content {
    padding: 30px 20px 0;
  }
  .sec2 .left .content h1 {
    font-size: 2em;
  }
  .sec2 .left .content .btn_wrap {
    gap: 0 15px;
    flex-wrap: wrap;
  }
  .sec2 .left .content .btn_wrap button {
    font-size: 1.15em;
  }
  .sec2 .right > div {
    padding: 0 20px;
  }
}/*# sourceMappingURL=brand.css.map */