@import "reset.css";
@import "mixins.scss";

$brand-color: #ff4713;

body {
  overflow-x: hidden;
  position: relative;
  word-break: keep-all;
}

.cursor {
  position: absolute;
  pointer-events: none;
  z-index: 100;
}

.side_menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  color: $brand-color;
  background: #fff;
  z-index: 40;
  overflow: auto;
  transition: 0.3s;
  &.active {
    right: 0;
  }
  .menu {
    @include flex($direction: column, $justify: flex-start, $align: flex-start);
    gap: 20px 0;
    float: right;
    width: 100%;
    height: auto;
    padding: 20px 40px;
    .btn_close {
      align-self: flex-end;
      width: 30px;
      height: 30px;
      margin-bottom: 30px;
      transform: translateX(20px);
      background: url(../images/brand/X@2x.png) no-repeat center / cover;
      cursor: pointer;
    }
    dl {
      width: 100%;
      height: 30px;
      font-weight: 600;
      overflow: hidden;
      &.active {
        height: auto;
      }
      dt {
        font-size: 1.425em;
        letter-spacing: -1px;
        margin-bottom: 20px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 20px;
          height: 20px;
          background: url(../images/brand/arrow-down.png) no-repeat center /
            cover;
          transform: translateY(-50%);
        }
      }
      &.active dt {
        &:after {
          transform: translateY(-50%) rotateX(180deg);
        }
      }
      dd {
        padding: 10px 0 10px 10px;
        font-size: 0.85em;
      }
      a {
        display: block;
      }
    }
    .sns {
      @include flex;
      gap: 0 20px;
      margin-top: 30px;
      a {
        display: block;
        width: 30px;
        height: 30px;
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            background: url(../images/brand/h-link#{$i}.svg)
              no-repeat
              center /
              cover;
          }
        }
      }
    }
    .brand {
      padding: 10px 30px;
      color: #fff;
      background: $brand-color;
      border-radius: 20px;
      margin-top: 30px;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transform: translateY(-100px);
  transition: 0.3s;
  z-index: 30;
  &.show {
    transform: translateY(0);
  }
  .container {
    @include flex($justify: space-between);
    padding: 0 40px;
    height: 100px;
    position: relative;
    .h_logo {
      display: block;
      width: 160px;
      img {
        width: 100%;
      }
    }
    .h_menu {
      @include flex;
      color: $brand-color;
      font-size: 1.125em;
      font-weight: 600;
      text-align: center;
      letter-spacing: -1px;
      width: 50%;
      height: 100px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 47%;
      transform: translate(-50%, -50%);
      li {
        flex: 1;
        height: 100%;
        padding: 30px 0;
        a {
          display: block;
          padding: 10px 0;
        }
      }
    }
    .h_link {
      @include flex;
      gap: 0 10px;
      .h_found {
        color: #fff;
        background: $brand-color;
        letter-spacing: -1px;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid transparent;
        transition: 0.3s;
        &.convert {
          background: #fff;
          color: $brand-color;
          border: 1px solid $brand-color;
        }
      }
      .sns {
        @include flex;
        gap: 0 10px;
        a {
          display: block;
          width: 30px;
          height: 30px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        @for $i from 1 through 3 {
          li:nth-child(#{$i}) a {
            background-image: url(../images/brand/h-link#{$i}.svg);
          }
        }
      }
    }
    .btn_side {
      display: none;
      width: 40px;
      height: 30px;
      position: relative;
      border-top: 4px solid $brand-color;
      border-bottom: 4px solid $brand-color;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        transform: translateY(-50%);
        background: $brand-color;
      }
    }
  }
  .depth2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
    text-align: center;
    background: #fff;
    z-index: -1;
    transform: translateY(-400px);
    transition: 0.4s linear;
    &.show {
      transform: translateY(0);
    }
    .nav_wrap {
      position: relative;
      height: 100%;
      .wrap {
        @include flex($align: flex-start);
        position: absolute;
        bottom: 0;
        left: 47%;
        width: 50%;
        height: auto;
        transform: translate(-50%, 0);
        ul {
          flex: 1;
          font-weight: 600;
          color: $brand-color;
          li {
            padding: 20px 0;
            a {
              display: block;
            }
          }
        }
      }
    }
  }
}

.sec1 {
  overflow: hidden;
  position: relative;
  .control_wrap {
    @include flex;
    position: absolute;
    bottom: 100px;
    right: 40px;
    gap: 0 20px;
    z-index: 1;
    span {
      color: $brand-color;
      font-size: 1.3em;
    }
    button {
      width: 70px;
      height: 70px;
      background: url(../images/found/c-main-slide-next.svg) no-repeat center /
        cover;
      cursor: pointer;
      &.sec1_prev {
        transform: rotateY(180deg);
      }
    }
  }
  .slide_wrap {
    @include flex;
    width: 400%;
    height: calc(100vh - 200px);
    .slide {
      flex: 1;
      height: 100%;
      a {
        display: block;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

.sec2 {
  padding: 150px 0 100px;
  .container {
    padding: 0 40px;
    h1 {
      font-size: 2.75em;
      color: $brand-color;
    }
    .banner {
      a {
        display: block;
        height: 100%;
        margin: 30px 0 20px;
        img {
          width: 100%;
          height: 100%;
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .introduce {
      @include flex;
      width: 50%;
      gap: 0 20px;
      > div {
        flex: 1;
        position: relative;
        min-height: 285px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
        .desc {
          position: absolute;
          top: 80%;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 20px;
          color: #fff;
          background: rgba(#000, 0.5);
          transition: 0.4s ease-in-out;
          h2 {
            font-size: 1.2em;
            transition: inherit;
          }
          p {
            display: none;
            font-size: 0.9em;
            word-break: break-all;
            padding-top: 20px;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              width: 60%;
              top: 10px;
              height: 1px;
              background: rgba(#fff, 0.2);
            }
          }
        }
        &:hover {
          .desc {
            top: 0;
          }
          h2 {
            font-size: 1em;
            margin-top: 60%;
          }
          p {
            display: block;
          }
        }
      }
    }
  }
}

.sec3 {
  padding: 150px 0;
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.popup_bot {
  background: $brand-color;
  border-bottom: 1px solid #fff;
  .container {
    padding: 15px 20px;
    .top {
      @include flex;
      gap: 0 10px;
      > * {
        flex: 1;
        min-width: 100px;
        height: 50px;
        padding: 10px;
        color: #fffe91;
        border: 1px solid rgba(#fff, 0.5);
        border-radius: 5px;
        background: transparent;
      }
      input::placeholder {
        color: #fffe91;
      }
      select {
        position: relative;
        option {
          color: #000;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #000;
        }
      }
    }
    .bot {
      @include flex($justify: space-between);
      padding: 10px 0;
      color: #fff;
      .call {
        @include flex;
        gap: 0 10px;
        a {
          font-size: 1.4em;
          font-weight: 600;
        }
      }
      .agree {
        @include flex;
        gap: 0 10px;
        height: 30px;
        letter-spacing: -2px;
        input {
          display: none;
          &:checked + label:after {
            content: "✓";
          }
        }
        label {
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          background: #fff;
          position: relative;
          cursor: pointer;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            font-size: 25px;
            width: 30px;
            height: 30px;
            color: $brand-color;
            text-align: center;
          }
        }
        span {
          display: inline-block;
          line-height: 30px;
          text-decoration: underline;
        }
      }
      .answer {
        padding: 20px 30px;
        font-size: 1.1em;
        font-weight: 600;
        color: $brand-color;
        background: #fff;
        border-radius: 35px;
        cursor: pointer;
      }
      .go_top {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        img {
          width: 100%;
          padding: 5px;
        }
      }
    }
  }
}

footer {
  @include flex($direction: column);
  gap: 50px 0;
  padding: 50px;
  background: $brand-color;
  color: #fff;
  position: relative;
  .f_link {
    @include flex;
    gap: 0 80px;
    a {
      display: block;
      height: 100%;
    }
  }
  .personal {
    font-size: 1.2em;
    font-weight: 600;
  }
  .address {
    @include flex($direction: column);
    p {
      line-height: 2;
      text-align: center;
    }
    .address1 {
      @include flex;
      flex-wrap: wrap;
      gap: 0 20px;
      p {
        &:nth-child(1) {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            width: 1px;
            height: 15px;
            transform: translateY(-50%);
            background: rgba(#fff, 0.5);
          }
        }
      }
    }
    .wrap {
      @include flex;
      gap: 0 20px;
      .address2,
      .address3 {
        @include flex;
        gap: 0 20px;
        p {
          position: relative;
          &:nth-child(1):after {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            width: 1px;
            height: 15px;
            transform: translateY(-50%);
            background: rgba(#fff, 0.5);
          }
        }
      }
      .address2 {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: -10px;
          width: 1px;
          height: 15px;
          transform: translateY(-50%);
          background: rgba(#fff, 0.5);
        }
      }
    }
  }
  .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  footer {
    .address {
      .address1 {
        p {
          &:nth-child(1) {
            &:after {
              width: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    .container {
      .h_menu {
        display: none;
      }
      .h_link {
        display: none;
      }
      .btn_side {
        display: block;
      }
    }
    .depth2 {
      display: none;
    }
  }
}

@media screen and (max-width: 980px) {
  .sec2 {
    .container {
      .introduce {
        width: 100%;
        > div {
          .desc {
            p {
              font-size: 1.1em;
              &:before {
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .cursor {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header {
    .container {
      height: 55px;
      .h_logo {
        width: 80px;
      }
      .btn_side {
        width: 30px;
        height: 25px;
      }
    }
  }

  .sec1 {
    margin-top: 55px;
    .control_wrap {
      @include flex($justify: space-between);
      bottom: auto;
      top: 50%;
      left: 0;
      width: 100%;
      padding: 0 20px;
      gap: 0;
      transform: translateY(-50%);
      .index {
        display: none;
      }
    }
    .slide_wrap {
      // height: calc(100vh - 240px);
      height: 100vh;
      .slide {
        a {
          img {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .sec2 {
    padding: 100px 0 0;
    .container {
      padding: 0 20px;
      h1 {
        font-size: 2em;
        text-align: center;
      }
      .banner {
        a {
          img {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }
      }
      .introduce {
        width: 100%;
        > div {
          min-height: auto;
          .desc {
            top: 70%;
            padding: 10px;
            h2 {
              font-size: 1.1em;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            p {
              font-size: 0.8em;
            }
          }
          &:hover {
            h2 {
              font-size: 0.9em;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }

  .sec3 {
    padding: 100px 0 140px;
  }

  .popup_bot {
    position: relative;
    .select {
      .bot {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 10px;
        .call {
          text-align: center;
          img {
            display: none;
          }
        }
        .agree {
          label {
            width: 20px;
            min-width: 20px;
            height: 20px;
            &:after {
              font-size: 15px;
              width: 100%;
              height: 100%;
            }
          }
          br {
            display: none;
          }
          span {
            min-width: 210px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .answer {
          width: 100%;
          padding: 15px 20px;
          font-size: 0.9em;
          border-radius: 25px;
        }
        .go_top {
          position: absolute;
          top: -100px;
          right: 20px;
          background: $brand-color;
        }
      }
    }
  }

  footer {
    .address {
      p {
        font-size: 0.9em;
      }
      .wrap {
        @include flex($direction: column);
        .address2,
        .address3 {
          gap: 0 40px;
          p {
            &:nth-child(1):after {
              right: -20px;
            }
          }
        }
        .address2 {
          &:after {
            width: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .sec1 {
    .control_wrap {
      display: none;
    }
  }

  .popup_bot {
    .container {
      .top {
        flex-wrap: wrap;
        gap: 10px;
        > * {
          flex: auto;
          width: calc(50% - 10px);
          min-width: 130px;
          height: auto;
        }
        input::placeholder {
          color: #fffe91;
        }
        select {
          position: relative;
          option {
            color: #000;
          }
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
          }
        }
      }
    }
  }
}
